<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Django App {% endblock%}</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(45deg,pink,green);
            flex-direction: column;
            height: 100vh;
        }
        h2{
            font-size: xx-large;
        }
    </style>
</head>

<body>
    
    {% block content %}
    {% endblock %}
</body>
</html>